* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  color: var(--font-color);
}

#app {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.circle {
  width: 150px;
  height: 150px;
  background: linear-gradient(
    40deg,
    var(--primary-color),
    var(--secondary-color) 70%
  );
  border-radius: 50%;
  transition: 0.4s;
}

.switch-wrapper {
  display: flex;
  align-items: center;
}
.switch {
  display: inline-block;
  height: 58px;
  position: relative;
  width: 120px;
}

.switch input {
  display: none;
}

.slider {
  background-color: var(--switch-color);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 34px;
}

.slider:before {
  background-color: var(--bg-color);
  bottom: 4px;
  content: "";
  width: 50px;
  height: 50px;
  left: 4px;
  position: absolute;
  z-index: -1;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  transform: translateX(60px);
}
